div {
  overflow: hidden;
}

h2 {
  transform-origin: center;
}

p {
  text-align: left;
  margin: 0 30px 20px;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(3,80px);
  grid-template-rows: repeat(auto-fit,130px);
  justify-content: space-between;
  margin: 0 30px;
  gap:10px 20px;
}

i {
  font-size: 72px;
}

.skill:hover {
  transform-origin: 0 0;
  transform: scale(1.1);
}

.fadein-enter {
  transform: scale(0);
}

.fadein-enter-active {
  transform: scale(1);
  transition: transform 1.2s ease-in-out;
}

.fadein-enter-done {
  transform: scale(1);
}

.fadein-exit {
  transform: scale(1);
}

.fadein-exit-active {
  transform: scale(0);
  transition: transform 1.2s ease-in-out;
}

.fadein-exit-done {
  transform: scale(0);
}

.run-in-enter {
  opacity: 0;
  transform-origin: center;
  transform: translateX(-100%);
}

.run-in-enter-active {
  opacity: 1;
  transform-origin: center;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.run-in-enter-done {
  opacity: 1;
  transform-origin: center;
  transform: translateX(0);
}

.run-in-exit {
  opacity: 1;
  transform-origin: center;
  transform: translateX(0);
}

.run-in-exit-active {
  opacity: 0;
  transform-origin: center;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.run-in-exit-done {
  opacity: 0;
  transform-origin: center;
  transform: translateX(-100%);
}

.contents-enter {
  opacity: 0;
  transform-origin: center;
  transform: translateX(100%);
}

.contents-enter-active {
  opacity: 1;
  transform-origin: center;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.contents-enter-done {
  opacity: 1;
  transform-origin: center;
  transform: translateX(0);
}

.contents-exit {
  opacity: 1;
  transform-origin: center;
  transform: translateX(0) scaleX(100%);
}

.contents-exit-active {
  opacity: 0;
  transform-origin: center;
  transform: translateX(100%) scaleX(0);
  transition: all 1s ease-in-out;
}

.contents-exit-done {
  opacity: 0;
  transform-origin: center;
  transform: translateX(100%) scaleX(0);
}

