.homepage {
  background-image: url('../asset/taipei101.jpeg'); /*攝影師：Timo Volz，連結：Pexels*/
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;  
  display: flex;
  justify-content: flex-end;
}

.homepage>div>h1 {
  font-family: "Playfair Display", serif;    
  text-align: center;
  padding: 2rem 1rem;
  background-color: rgba(0,0,0,0.3);
  margin: 0;  
}

.homepage>div>*.chinese {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
}

.homepage>div>h3 {
  font-family: "Playfair Display", serif;
  font-style: italic;  
  text-align: center;
  padding: 0 1rem 1.2rem;  
  margin: 0;
  background-color: rgba(0,0,0,0.3);
}

.language {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.language>button {
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
  font-family: Roboto;
}

.language>button:hover {
  transform-origin: center;
  transform: scale(1.1);

}

.language-select {
  text-decoration: underline;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .homepage {
    background-image: url('../asset/taipei101-desktop.jpeg'); /*攝影師：Timo Volz，連結：Pexels*/
    background-position: center;
    background-size: contain;
    height: 60vh;
    width: 90vw;
    margin: 0 5vw;
    justify-content: center;
    border-bottom: 2px #fff solid;    
    font-size: 3rem;
  }

  .language {
    left: 90vw;
  }
  
}