.homepage {
  background-image: url('../asset/taipei101.jpeg'); /*攝影師：Timo Volz，連結：Pexels*/
  background-position-x: -15px;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;  
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;  
}

.homepage>div:first-child {
  align-self: end;
  padding: 15px 20px;
  font-family: "Playfair Display", serif;
}

.homepage>div>h1 {
  text-align: center;  
  margin: 0 0 2rem;  
}

.homepage>div>*.chinese {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
}

.homepage>div>h3 {  
  font-style: italic;  
  text-align: center;  
  margin: 0;
}

.language {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.language>button {
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
  font-family: Roboto;
}

.language>button:hover {
  transform-origin: center;
  transform: scale(1.1);

}

.language-select {
  text-decoration: underline;
  font-weight: bold;
}

.homepage>p {
  padding:1rem 5vw;
  background-color: rgba(0,0,0,0.6);
}

@media (min-width: 1200px) {
  .homepage {
    background-image: url('../asset/taipei101-desktop.jpeg'); /*攝影師：Timo Volz，連結：Pexels*/
    background-position: 100% 0;
    margin: 0 5vw;  
    font-size: 3rem;
  }

  .homepage>div:first-child {
    padding: 2rem 3rem;
  }

  .language {
    left: 5vw;
  }
  
}