.project {
  height: 85vh;
  padding-top: 2rem;
  box-sizing: border-box;
}

.project>h2 {
  margin-top: 0;
}

.project-gallery {  
  display: flex;
  align-items: center;  
}

.project>p {
  margin: 0 0 20px;
}

.carousel-root {
  overflow: hidden;
}

.control-arrow {
  width: 5rem;
}

@media (min-width: 1200px) {
  .project {
    height: 80vh;
  }
  .project>p {
    font-size: 2rem;
  }
}